body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.one{
  background-color: rgb(241, 163, 163);
}
.two{
  background-color: rgb(140, 169, 247);
}
.three{
  background-color: rgb(132, 241, 168);
}
.four{
  background-color: rgb(225, 247, 130);
}
.five{
  background-color: rgb(150, 64, 248);
}
.six{
  background-color: rgb(250, 152, 245);
}